.bvnjk { 
  border-right-width: 6px;
  padding-top: 46px;
  padding-bottom: 90px;
  margin-bottom: 55px;
  font-size: 99px;
  margin-top: 49px;
  border-right-width: 40px;
  padding-left: 50px;
  font-size: 42px;
  border-top-width: 73px;
  border-left-width: 96px;
}
